# data dirctory
dataset

# Data
*.csv

# Outputs
*.pth
*.pt

# WandB
wandb/

# Python
__pycache__/

# IDE
.vscode/
# Python env
.venv/
venv/
env/
semantic_masks/
*.npz
*.pth
*.pt
*.ckpt

# Q, misc
zmisc
